snippet == "Comment Section"
" ==============================================
" ============== ${0:New Section} ==============
" ==============================================
${1}
endsnippet

snippet -- "Comment Line"
" -------------- ${0:New Section} --------------
${1}
endsnippet
